<form id="trajet" class="pull-left" action="">
	<input type="text" placeholder="Départ" id="depart" value="G1K8K6">
	<input type="text" placeholder="Arrivée" id="arrivee" value="G1R3V6">
	<button class="btn success">Go!</button>
</form>

<div id="modal-erreur" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>ERREUR</h3>
  </div>
  <div class="modal-body">
    <p>...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary close_modal">Annuler</a>
  </div>
</div>
