<ul class="pills">
  <li class="active"><a href="#">Carte</a></li>
  <li><a href="#">Liste</a></li>
</ul>

<div id="carte" class="pill_content">
	la carte ici
</div>
<div id="liste" style="display:none;" class="pill_content">
	la liste ici
</div>