<%= render "address_form" %>

<ul class="pills">
  <li class="active"><a href="#">Carte</a></li>
  <li><a href="#">Liste</a></li>
</ul>

<div id="carte" class="pill_content">
	<%= render "carte" %>
</div>
<div id="liste" style="display:none;" class="pill_content">
	<%= render "liste" %>
</div>
