// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: faire qqchose d'intelligent avec ça...pcq là, c'est poche un peu, pas mal, bcp!

body{
	padding-top: 40px;
	height: 100%;	
}

html {
	height: 100%;
}

#map-container {
  width: 100%;
	height: 100%;
}

#map {
  width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
}

.container-fluid {
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
}

#carte {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
}

#liste {
	padding-left: 20px;
	padding-right: 20px;
}

.brand{
  margin-left: 10px;
}
