<h3><%= link_to 'Tragicace', '#' %></h3>
<ul class="nav">
	<li id="menu_carte" class="active"><a href="#">Carte</a></li>
	<li id="menu_liste"><a href="#">Liste</a></li>
</ul>
<%= render "address_form" %>