<h3><%= link_to 'Tragicace', '#' %></h3>
<ul class="nav">
	<li id="menu_carte" class="active"><a href="#">Carte</a></li>
	<li id="menu_liste"><a href="#">Liste</a></li>
</ul>
<%= render "address_form" %>

<form id="encodedPolyline" class="pull-left" action="">
	<input type="text" placeholder="encoded polyline here" id="polyline">
	<button id='drawPolyline' class="btn">Draw!</button>
</form>
